.fullPackage{
    /* border: 2px solid blue; */
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    /* border: 2px solid green; */
    height: 93vh;
    width: 370px;
    background-color: rgb(59, 59, 143);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 3px rgb(115, 115, 255);
}

.topContainer{
    height: 25vh;
    /* border: 2px solid black; */
    width: 100%;
    background-color: rgb(1, 1, 84);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    border-radius: 20px 20px 0px 0px;
}

.equation{
    font-size: 35px;
    padding-right: 20px;
}

.solution{
    font-size: 50px;
    padding-right: 30px;
}

.btnContainer{
    /* border: 2px solid red; */
    height: 70vh;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button{
    height: 70px;
    width: 70px;
    font-size: 24px;
    border-radius: 100%;
    border: 0.2px solid white;
    box-shadow: 2px 2px 2px 2px black;
}

button:c

.clear{
    color: rgb(65, 65, 65);
    background-color: rgb(142, 84, 142);
    color: white;
}

.btnEncoding{
    background-color: rgb(0, 0, 176);
    color: white;
}

.btnNum{
    background-color: white;
    color: rgb(0, 0, 176);
}

.btnDelete{
    color: red;
    background-color: rgb(192, 191, 191);
}


@media (width <= 320px) {
    .calculator{
        width: 320px;
    }
}

@media (width <= 768px) {
    .calculator{
        height: 70vh;
        width: 340px;
    }
}
@media (width <= 480px) {
    .calculator{
        height: 70vh;
        width: 330px;
    }
}

@media (width <= 1024px) {
    .calculator{
        height: 80vh;
        width: 320px;
    }
}


